include ../paragraph/paragraph

mixin b_greatwin(data)
  +b.greatwin
    +e.main.row.expanded
        +e.text(class="columns small-12 medium-12 large-5")
          +e.toptext #{data[0]}
          +e.middletext
            +b_paragraph(data[1])._fontsize_1dot7em
          + b.greatwin__bottomtext
              + b.IMG.greatwin__line1(src="img/greatwin__longline.png")
              + b.greatwin__bottomtext1 #{data[2]}
              + b.greatwin__bottomtext2 #{data[3]}
              + b.IMG.greatwin__line2(src="img/greatwin__longline.png")
        + b.IMG.greatwin__pict.columns.small-12.medium-12.large-7(src="img/greatwin__img.png")

