.backtop {
    opacity: 0;
    transition: all .3s ease-out;
    position: fixed;
    z-index:9999;
    bottom: 30px;
    right: 30px;

    &__wrapper {
        color: $yellow;
        padding: 0px;
        background: white;
        border: 1px solid $yellow;
        border-radius: 2px;
        height: 50px;
        text-align: center;
        text-decoration: none;
        width: 50px;
        z-index: 1030;

        &:hover, &:focus {
            background: #ffffff;
            cursor: pointer;
        }

        &:active {
            box-shadow: inset 0px 1px 4px rgba(0, 0, 0, 0.6);
            background: #fff6a5;
        }
    }
}


.backtop.show {
    opacity: 1;
}
//#backtop.light.full-width{background:white;bottom:0;left:0;width:100%}
//#backtop.light.full-width button{width:100%;margin:0 auto;text-align:center;padding:15px 0;border-radius:0;border-left:none;border-right:none}
