include ../paragraph/paragraph
include ../h2/h2

mixin b_games_of_thrones(data)
  +b.SECTION.games-of-thrones.row.expanded(id='#{menu.links[1]}')
    +e.mainname.small-8.small-centered.columns #{data[0]}
    //+b_h2("Зовнішність Ярослава")._color_white
    +e.shortnote.small-6.small-centered.columns #{data[1]}
    +e.details.small-4.small-centered.columns
      +b_paragraph(data[2]).small-12.small-centered.columns
