.games-of-thrones {
    text-align: center;
    font-family: $font-serif;

    &__mainname {
        font-size: 3rem;
        font-family: $font-sans-serif;
        margin-top: 7%;
    }

    &__shortnote {
        text-transform: uppercase;
        color: $grey;
        font-size: 1.125rem;
        line-height: 1.667;
        letter-spacing: 0.12em;
        margin: 0 auto;
    }

    &__details {
        margin: 2% auto 5%;
    }
}
