include ../paragraph/paragraph

mixin b_game_of_thrones(data)
  +b.games-of-thrones.row.expanded(id='#{menu.links[1]}')
    +e.mainname.small-4.small-centered.columns #{data[0]}
    +e.shortnote.small-4.small-centered.columns #{data[1]}
    +e.details.small-4.small-centered.columns
      +b_paragraph(data[2]).small-12.small-centered.columns
