.game-of-thrones {
    text-align: center;
    font-family: $font-serif;

    &__mainname {
        font-size: 4em;
        font-family: $font-sans-serif;
        margin-top: 7%;
    }

    &__shortnote {
        text-transform: uppercase;
        color: $grey;
        font-size: 1.7em;
        letter-spacing: 0.12em;
        margin: 1.9% auto 0 auto;
        width: 26%;
    }

    &__details {
        margin: 1.9% auto 5% auto;
        width: 32%;
    }
}
