mixin b_section-map(data)
	+b("section").section-map&attributes(attributes)
		+e.map
			+e("img").map-image(src="/img/map.jpg")
		.row.expanded
			+e.text-part.small-6.columns
				+e.text Ярослав Мудрий — слава і гордість Київської Русі, її наймогутніший володар, який на рівних спілкувався з монархами Візантії, Франції, Німеччини, Польщі, Угорщини, Чехії, Швеції, Норвегії, часто впливав на те, хто саме посяде той чи інший трон. А головне — людина, що перемогла у найважчій битві. Із самим собою.
			+e.bg.small-6.columns
				

			
