.section-map {
	font-family: $font-serif;
	background-color: $brown;

	&__text-part {
		position: relative;
		background-color: white;
		min-height: 100%;

        &:after {
            content: '';
            position: absolute;
            top: 0px;
            left: 100%;
            width: 0px;
            height: 0px;
            border-style: solid;
            border-width: 99vh 25vh 0vh 0vh;
            border-color: #ffffff transparent transparent transparent;
            z-index: 1;
            transition: all 1s linear;
        }
	}

    .row {
        overflow: hidden;
    }

	&__map-image {
		width: 100%;
	}

	&__text {
		font-size: 1.125rem;
		line-height: 1.875rem;
		margin: 8.75rem 0px;
		padding-left: 16.6666%;
	}


	&__bg {
		min-height: 100%;
		background-color: $brown;
	}
}
