//Fonts
@import url("https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,700i,900,900i");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800");

$font-serif: 'Open Sans', Arial, serif;
$font-sans-serif: 'Playfair Display', sans-serif;

//Colors
$color1: #cc9933;
$color2: #999999;
$color-3: #959595;
$color-text-1: #363636;
$color-text-2: #898989;


//Device resolution
$desktop: "(min-width: 1024px)";
$tablet: "(min-width: 768px) and (max-width: 1023px)";
$mobile: "(min-width: 320px) and (max-width: 767px)";

