//Fonts
@import url("https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,700i,900,900i");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800");

@font-face {
    font-family: 'socicon';
    src: url('../fonts/socicon.eot');
    src: url('../fonts/socicon.eot?#iefix') format('embedded-opentype'),
    url('../fonts/socicon.woff') format('woff'),
    url('../fonts/socicon.ttf') format('truetype'),
    url('../img/socicon.svg#icomoonregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

$font-serif: 'Open Sans', Arial, serif;
$font-sans-serif: 'Playfair Display', sans-serif;

$font-size-desktop: 12px;
$font-size-tablet: 11px;
$font-size-mobile: 10px;

//Colors
$yellow: #cc9933;
$grey: #999999;
$brown: #aba2a0;
$black: #111111;
$color-text-1: #363636;
$color-text-2: #898989;

$menu-color-yellow: #EDC34F;



//Device resolution
$desktop: "(min-width: 1024px)";
$tablet: "(min-width: 768px) and (max-width: 1023px)";
$mobile: "(min-width: 320px) and (max-width: 767px)";
