//Fonts
=font($alias, $name)
$font1: 'Playfair Display';
$font1attr: serif;

$font2: 'Open Sans';
$font2attr: sans-serif;

//Colors
$color1: #cc9933;
$color2: #999999;

//Device resolution
$desktop: "(min-width: 1024px)";
$tablet: "(min-width: 768px) and (max-width: 1023px)";
$mobile: "(min-width: 320px) and (max-width: 767px)";
