// done by riverco.de


@import "helpers/all";
@import "generated/iconfont";
@import "generated/sprite-svg";
@import "generated/sprite-png";
@import "variables";
@import "common";
@import "layouts";
@import "main";

//= include ../blocks/**/*.scss

html {
    font-size: 100%;
    overflow-x: hidden;

    @include r(1440) {
        font-size: 100%;
    }

    @include r(1200) {
        font-size: 90%;
    }

    @include r(1024) {
        font-size: 80%;
    }

    @include r(640) {
        font-size: 60%;
    }
}
