//---
//title: Index Page
//---
extends layouts/_layout
block content
  +b_life(sectionLife)
  +b_life_10_30_years(sectionLife10and30Years)
  +b_money(sectionMoney)
  +b_great_win(sectionGreatwin)
  +b_first_lib(sectionFirstlib)
  +b_sarkofag-view(sectionSarkofagView)
  +b_sarkofag(sectionSarkofag)
