.livedates {
    text-align: center;
    width: 100%;
    padding-left: auto;
    padding-right: auto;
    font-size: 120px;
    font-family: $font-serif;
    color: #{$color1};
    padding-top: 10%;

    &__dateup {
        position:relative;
        top:-0px;
    }

    &__dateup_size_115px {
        font-size: 115px;
    }

    @media #{$tablet} {
        & {
            font-size: 60px;
        }

        &__dateup_size_115px {
            font-size: 55px;
        }
    }

    @media #{$mobile} {
        & {
            font-size: 16px;
            padding-top: 3%;
        }

        &__dateup_size_115px {
            font-size: 14px;
        }
    }
}
