.sarkofag-view {
	& {
        background-color: #111111;
        color: #ffffff;
        font-family: $font-serif;
        text-align: center;
    }

    &__line1 {
        /*width: 449px;
        height: 25px;*/
        width: 0px;
        height: 0px;
        border-left-width: 1px;
        border-top-width: 1px;
        border-color: orange;
        border-style: solid;
        position: absolute;
        right: 100%;
        margin-top: 13%;
        margin-right: -29%;
    }

    &__line2 {
/*        width: 373px;
        height: 25px;*/
        width: 0px;
        height: 0px;
        border-left-width: 1px;
        border-top-width: 1px;
        border-color: orange;
        border-style: solid;
        position: absolute;
        right: 100%;
        margin-top: 46%;
        margin-right: -20%;

    }

    &__line3 {
 /*       width: 373px;
        height: 25px;*/
        width: 0px;
        height: 0px;
        border-right-width: 1px;
        border-bottom-width: 1px;
        border-color: orange;
        border-style: solid;
        position: absolute;
        left: 100%;
        bottom: 100%;
        margin-bottom: -56%;
        margin-left: -26%;

    }

    &__text3{
        font-color: white;
        position: absolute;
        width: 300px;
        opacity: 0;
        text-align: left;
        margin-top: 17%;
        right: 100%;
        margin-right: -10%;

    }

    &__text4{
        font-color: white;
        position: absolute;
        width: 300px;
        opacity: 0;
        text-align: left;
        margin-top: 50%;
        right: 100%;
        margin-right: -10%;
    }

    &__text5{
        font-color: white;
        position: absolute;
        width: 300px;
        opacity: 0;
        text-align: left;
        bottom: 100%;
        margin-bottom: -52%;
        right: 100%;
        margin-right: -122%;
    }

    &__centerpart {
        margin: 0 auto;
        display: inline-block;
        text-align: center;

    }

    &__toptext {
        display: block;
        text-align: center;
        font-size: 4em;
        font-family: $font-sans-serif;
    }

    &__text1 {
        display: block;
        text-align: right;
        font-size: 1.7em;
        padding-top: 4%;
        width: 40%;
        float: right;
        clear: right;
    }

    &__text2 {
        display: block;
        text-align: right;
        text-transform: uppercase;
        font-size: 0.9em;
        padding-top: 3%;
        float: right;
        clear: right;
    }

    &__img {
        display: block;
        margin: 0 auto;
        width: 100%;

    }

    &__positioning {
        display: block;
        text-align: center;
    }

    &__imgblock {
        width: 42%;
        margin: 0 auto;
        display: inline-block;
        position: relative;
    }



}
