include ../stamp/stamp

mixin preview(data)
  +b("section").preview
    +e.text_year 2015
    +e.text_gold Рік Ярослава Мудрого
    +e.text_tsn Тсн спільно з газетою день
    +e.A.text_link(href='#info') Детальніша інформація про проект
    +stamp
    +e.text_start Розпочати
