include ../stamp/stamp

mixin preview(data)
  +b("section").preview
    +e.text_type_year 2015
    +e.text_type_gold Рік Ярослава Мудрого
    +e.text_type_tsn Тсн спільно з газетою день
    +e.A.text_type_link(href='#info') Детальніша інформація про проект
    +e.stamp
      +stamp
    +e.text_type_start.bounceb Розпочати
    +e.A.text_type_arrow.bounceb(href='#start')

  +b.help-info
    +e.circle_dislpay_show
      +e.pos_inside
        | 1+1 та газета «День» 2015 рiк присвячує
        | пам’яті й 1000-літтю правління, спадщині
        | найзнаменитішого правителя Давньої Русі-України.
        | Державний Діяч з великої літери, правитель, який думав не стільки про утримання влади, а про долю майбутніх поколінь, видатний культурний діяч, вправний, блискучий дипломат — ця видатна людина, безперечно, заслуговує на особливу увагу читачів «Дня».
        | Чому саме 2015 рік? Рівно 1000 років тому, в липні 1015-го, в Берестові під Києвом помер батько Ярослава, офіційний хреститель Русі, князь Володимир Великий (Красне Сонечко). Спадкоємцем якого став Ярослав. Не зважаючи на всі випробування, які пройшов Ярослав на шляху до влади, він, що вражає,  не став став деспотом — він спромігся поєднати належну міць і силу держави зі справжнім демократизмом і гуманізмом (за критеріями ХІ століття, звісно), уславив Київську Русь на всю Європу, на весь світ.
