include ../stamp/stamp

mixin b_preview(data)
  +b("section").preview
    +e.text_type_year= preview.text1
    +e.text_type_gold= preview.text2
    +e.text_type_tsn= preview.text3
    +e.A.text_type_link(href='#info')= preview.text4
    +e.stamp
      +stamp
    +e.text_type_start.bounceb= preview.text5
    +e.A.text_type_arrow.bounceb(href='#start')

  +b.help-info
    +e.circle_dislpay_show
      +e.pos_inside= preview.help

