include ../stamp/stamp

mixin preview(data)
  +b("section").preview
    +e.caption Рік Ярослава Мудрого
    +e.title Тсн спільно с газетою день
    +e.title-link Детальніша інформація про проект
    +e.start Розпочати

    +stamp
