.money {
    &__main {
        position: relative;
        padding: 0 0;
    }

    &__bcg {
        background: url("../img/money_background.png") no-repeat;
        background-size: 100%;
        background-position: 50% 100%;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        z-index: 1;
        opacity: 1;
    }

    &__content-wrapper {
        width: 90%;
        margin: 0 auto;
        max-width: 1140px;
        position: relative;
        z-index: 2;
    }

    &__text {
        position: absolute;
        padding-top: 17%;
        font-size: 2.5em;
        left: 50%;
        width: 50px;
        margin-left: -25px;
        text-align: center;
        opacity: 1;
    }

    &__text1 {
        font-size: 4.17em;
        font-family: Playfair Display, serif;
        opacity: 1;
    }

    &__text2 {
        padding-top: 9%;
        font-size: 1.58em;
        text-transform: uppercase;
        text-align: center;
        font-family: Playfair Display, serif;
        font-style: regular;
        opacity: 1;
    }

    &__float_left {
        float: left;
        clear: left;
        padding-left: 30%;
        padding-top: 15%;
    }

    &__float_right {
        float: right;
        clear: right;
        padding-right: 30%;
        padding-top: 15%;

    }

    &__wrapper {
        padding-top: 28%;
    }

        @media #{(min-width: 1024px) and (max-width: 1570px)} {

        &__float_left {
            padding-left: 25%;
        }

        &__float_right {
            padding-right: 25%;
        }

        &__text {
            left: 48%;
        }
    }

    @media #{(min-width: 800px) and (max-width: 1160px)} {

        &__main {
            background-size: 0 0;
        }

        &__float_left {
            padding-left: 10%;
        }

        &__float_right {
            padding-right: 10%;
        }

        &__text {
            left: 48%;
        }
    }

    @media #{(min-width: 670px) and(max-width: 800px)} {

        &__main {
            background-size: 0 0;
        }

        &__float_left {
            padding-left: 5%;
        }

        &__float_right {
            padding-right: 5%;
        }

        &__text {
            left: 48%;
        }
    }

    @media #{(min-width: 0px) and(max-width: 669px)} {
        &__main {
            background-size: 0 0;
        }

        &__float_left {
            padding-left: 0%;
        }

        &__float_right {
            padding-right: 0%;
        }

        &__text {
            left: 48%;
        }

        &__text1 {
            font-size: 35px;
        }

        &__text2 {
            font-size: 14px;
        }
    }


}
