mixin b_money
  +b.money
    +e.IMG.img1(src="img/money1.png")
    +e.IMG.img2(src="img/money2.png")
    +e.IMG.img3(src="img/money3.png")
    +e.IMG.img4(src="img/money4.png")
    +e.IMG.img5(src="img/money5.png")
    +e.IMG.img6(src="img/money6.png")
    +b.comparemoney._float_left
      +e.text1 2000 грн
      +e.text2
        | Щорічна данина
        br
        | київському князю.
        br
        | 1011 рік
    +e.text =
    +b.comparemoney._float_right
      +e.text1 4.5 млн. грн
      +e.text2
        | Вартість будинку
        br
        | під києвом.
        br
        | 2015 рік
  +e(style='clear: both;')
