mixin b_money
  +b.money
    +e.IMG.img1(src="img/money1.png")
    +e.IMG.img2(src="img/money2.png")
    +e.IMG.img3(src="img/money3.png")
    +e.IMG.img4(src="img/money4.png")
    +e.IMG.img5(src="img/money5.png")
    +e.IMG.img6(src="img/money6.png")
