mixin b_money
  +b.money.money__main
    +e.float_left
      +e.text1 2000 грн
      +e.text2
        | Щорічна данина
        br
        | київському князю.
        br
        | 1011 рік
    +e.text =
    +e.float_right
      +e.text1 4.5 млн. грн
      +e.text2
        | Вартість будинку
        br
        | під києвом.
        br
        | 2015 рік
  +e(style='clear: both;')
