include ../games-of-thrones/games-of-thrones

mixin b_money(data)
  +b.money.money__main
    +e.bcg
    +e.content
      +e.float_left
        +e.text1 #{data[0]}
        +e.text2!= data[1]
      +e.text =
      +e.float_right
        +e.text1 #{data[2]}
        +e.text2!= data[3]
      +e.wrapper
        +b_games_of_thrones(sectionGameOfThrones)
      +e(style='clear: both;')
