.about-governing {

    //height: 100vh;
    //position: absolute;
    //top: 0%;
    //left: 0%;
    display: block;
    overflow: hidden;
    font-family: $font-sans-serif;
    /*        transition: all .5s linear 0s;*/

    &__block {
        height: 100%;
        position: relative;
    }

    &__block2 {
        height: 100%;
        position: relative;
    }

    &__textblock1 {
        display: inline-block;
        float: left;
        clear: left;
        width: 100%;

    }

    &__textblock2 {
        display: inline-block;
        float: left;
        clear: left;
        margin-top: 1%;
        margin-left: -11%;
        width: 100%;
    }

    &__textblock3 {
        display: inline-block;
        float: left;
        clear: left;
        margin-top: 0%;
        margin-left: -16%;
        width: 100%;
    }

    &__textblock4 {
        display: inline-block;
        float: left;
        clear: left;
        margin-top: 1%;
        margin-left: -17%;
        width: 100%;
    }



    &__block1 {
        display: inline-block;
        position: relative;
        &_diagonal_white {

            &:after {
                content: '';
                position: absolute;
                margin-top: 0vw;
                right: 0;
                width: 0;
                height: 100%;
                border-style: solid;
                border-width: 100vw 25vw 0vh 0vh;
                border-color: transparent #ffffff transparent transparent;
                z-index: 0;
                // transition: all 1s linear;
                //opacity: .9;
            }
        }

    }

    &__text0 {
        margin-top: 3rem;
        font-family: $font-sans-serif;
        font-size: 3rem;
        text-align: center;
        letter-spacing: 0.1em;
        text-transform: uppercase;
    }

    &__text1 {
        font-size: 13rem;
        display: inline-block;
        line-height: 0.8;
        color: #8e453a;
    }

    &__text2 {
        font-size: 3rem;
        display: inline-block;

    }

    &__text3 {
        font-size: 3rem;
        line-height: 3;
        padding-left: 5%;
    }

    &__text4 {
        font-size: 5rem;
        color: #898989;
        display: inline-block;
    }

    &__text5 {
        font-size: 1.7rem;
        color: #898989;
        font-family: $font-serif;
        display: inline-block;
        padding-left: 3%;
    }

    &__text6 {
        font-size: 5rem;
        color: #898989;
        display: inline-block;
        line-height: 0.7;
    }

    &__text7 {
        font-size: 1.7rem;
        color: #898989;
        font-family: $font-serif;
        display: inline-block;
        padding-left: 3%;
    }

    &__text8 {
        font-size: 1.7rem;
        color: #8e453a;
        font-family: $font-serif;
        margin-top: 1rem;
   }

    @media #{(min-width: 200px) and (max-width: 639px)} {

        &__block1 {
           display: none;
        }

        &__textblock1 {
            display:block;
            text-align: center;
        }

        &__textblock2 {
            margin-left: 0;
            text-align: center;
        }

        &__textblock3 {
            margin-left: 0;
            text-align: center;
        }

        &__textblock4 {
            margin-left: 0;
            text-align: center;
        }
    }

    @media #{(min-width: 640px) and (max-width: 890px)} {

        &__text0 {
            margin-top: 1rem;
            font-size: 2rem;
        }

        &__text1 {
            font-size: 7rem;
        }

        &__text2 {
            font-size: 2rem;
        }

        &__text3 {
            font-size: 2rem;
        }

        &__text4 {
            font-size: 4rem;
            line-height: 1.2;
        }

        &__text6 {
            font-size: 4rem;
        }
    }

}
