mixin b_about-governing(data)
  +b.about-governing.expanded.column.row&attributes(attributes)
    +e.block.small-6.columns
      +e.block1._diagonal_white
        +e.IMG.photo(src="img/about-governing-photo.png")
    +e.block.small-6.columns
    //+b.SPAN.close
