.firstlib {
    &{
        font-family: $font-sans-serif;
    }
    &__line1{
        padding-top: 12%;
        text-align: center;
    }

    &__text1{
        font-size: 4em;
        color: #{$yellow};
    }

    &__text2{
        font-size: 2.2em;
        padding-top: 2.8%;
        margin: 0 auto;
        width: 27%;
    }

    &__smalltext{
        font-size: 0.85em;
        padding-top: 0.4%;
        text-transform: uppercase;
        font-family: $font-serif;
        color: #{$grey};
    }

    &__text3{
        padding-top: 2.5%;
        font-size: 2.5em;
        text-transform: uppercase;
        letter-spacing: 2px;
    }

    &__text4{
        color: #{$yellow};
        padding-bottom: 2.2%;
    }

    &__number{
        font-size: 5.5em ;
    }

    &__books{
        font-size: 3em;
    }

    &__line2{
        background-color: #f5f5f5;
    }

    &__bigletter{
        line-height: 0.7;
        font-size: 9em;
        color: #{$yellow};
        float: left;
        margin-right: 2%;
    }

    &__text5 {
        padding-top: 9%;
    }

    &__text7 {
        width: 92%;
        font-size: 1.8em;
        font-family: $font-serif;
    }

    &__img1 {
        padding-left: 0 !important;
    }
}
