mixin b_firstlib
  +b.firstlib
    +e.line1
      +e.text1 Перша бібліотека Київської Русі
      +e.text2
        | «Ярославъ же сей, якоже рекохом, любил
        br
        | бе книги, много написав и положи
        br
        | в святей Софии церкви»
      +e.smalltext літописні відомості
      +e.text3 Бібліотека Ярослава налічувала
      +e.text4
        +e.SPAN.number 960
        +e.SPAN.books  книг
    +e.line2.row.expanded
      +e.IMG.img1.columns.small-12.large-6(src="img/firstlib__img.png")
      +e.text5.columns.large-5.large-offset-1
        +e.bigletter Б
        +e.text7
          | ільшість із книг були церковного спрямування,
          | адже потреба в них диктувалася поширенням
          | на Русі християнства.  Поряд з церковними
          | перекладалися, й книжки, що містили відомості зі світової історії,
          | географії, астрономії, філософські та юридичні трактати,
          | публіцистичні твори. Саме вони послужили основою для
          | перетворювання Софії Київської на центр літописання і
          | передової думки. На жаль, книгозбірня майже повністю згоріла
          | під час пожежі в монастирі
          | 1718 року.
