.years__name {
    font-size: 28px;
    padding-top: 3%;
    font-family: 'Playfair Display', serif;
}

.years__value {
    font-size: 28px;
    font-family: 'Playfair Display', serif;
    padding-top: 0.5%;
}

.years__date {
    font-size: 40px;
}


.years__details {
    padding-top: 1%;
    font-family: 'Open Sans', sans-serif;
}
