.years{
    &__name {
         font-size: 44px;
         padding-top: 3%;
         font-family: #{$font-serif};
    }

    &__value {
        font-size: 28px;
        font-family: #{$font-sans-serif};
    }

    &__date {
        font-size: 128px;
        line-height: 0.8;
    }

    &__datetext {
        position:relative;
        top: 15px;
    }

    &__datetext_top_35px {
        top: 35px;
    }

    &_position_left {
        float: left;
        margin-left: 20%;
    }

    &_position_right {
        float: right;
        margin-top: 129px;
        margin-right: 20%;
    }

    &__details {
        padding-top: 50px;
        font-family: #{$font-sans-serif};
    }

    &__details_paddingtop_74px {
        padding-top: 74px;
        font-family: #{$font-sans-serif};
    }
}
