.timestamp {
    &__date {
        font-family: $font-sans-serif;
        font-size: 32px;
    }

    &__text {
        padding-top: 25px;
    }

    &__info {
        padding-left: 260px;
        padding-top: 20px;
    }
}
