.uppertext {
    text-align: center;
    text-transform: uppercase;
    width: 100%;
    color: #999999;
}

.uppertext_color_cc9933 {
    color: #cc9933;
}

.uppertext_paddingtop_5perc {
    padding-top: 5%;
}

.uppertext_paddingtop_10perc {
    padding-top: 10%;
}

.uppertext_paddingtop_20perc {
    padding-top: 20%;
}

.uppertext_size_large {
    font-size: large;
}

