mixin b_sarkofag(data)
  + b.sarkofag
    + e.name Відкриття саркофагу
    +b.sarkofag__box.row.expanded
      + b.columns.small-12.medium-5.large-3.large-offset-1
        + e.tototo #{data}
    //    + b_timestamp(data[0])
    //  + b.columns.small-12.medium-6.medium-offset-1.large-4.end
    //    + b.IMG(src="img/sarkofag__bones.png")
    //+b.sarkofag__box.row.expanded
    //  + b.IMG.columns.small-12.medium-5.large-3.large-offset-3(src="img/sarkofag__letter.png")
    //  + b.sarkofag__1939.columns.small-12.medium-6.medium-offset-1.large-3.large-offset-1.end
    //    + b_timestamp("1939","Останки із саркофага було відправлено<br/>до Ленінградського інституту етнографії <br/>та антропології, де з них склали два <br/>скелети - чоловічий та жіночий. <br/>За відповідними актам в 1940 році обидва <br/>кістяки було повернено до заповідника, <br/>де вони зберігалися у фондах.")
    //+b.sarkofag__box.row.expanded
    //  + b.columns.medium-5.medium-offset-1.large-3.large-offset-1
    //    + b_timestamp("1964","Було прийнято рішення покласти <br/>останки назад у саркофаг. Зі слів <br/>Ірми Фантимівни Тоцької (заступник <br/>директора Софійського заповідника), <br/>тодішній завідувач фондів доктор <br/>історичних наук Сергій Висоцький <br/>знав, що у фондах зберігаються <br/>кістки не двох а лише одного <br/>скелета. Проте він був певен, що це <br/>останки Ярослава.      ")
    //  + b.columns.medium-5.medium-offset-1.large-3.large-offset-1
    //    + b_timestamp("2009","Саркофаг було відкрито з метою <br/>вивчення його вмісту, а також для <br/>проведення дослідження відповідно <br/>до методів і технологій сучасної <br/>науки. Протягом 2009-2010 років <br/>здійснено значний за обсягом <br/>комплекс досліджень останків із <br/>саркофага. Також проведено велику <br/>пошукову роботу зі з'ясування місця <br/>знаходження останків Ярослава.")
    //  + b.column.medium-6.large-3.end
    //    +b.IMG.sarkofag__photo(src="img/sarkofag__photo.png")
    //+ b.sarkofag__text.box.columns.small-12.large-12
        | Ймовірний рік зникнення останків &#8212; 1943.
        br
        | Місце знаходження наразі невідоме.




