.sarkofag {
    display: block;
    height: 100%;

    &__name {
        display: block;
        text-align: center;
        font-size: 4em;
    }

    &__box {
        padding-top: 7%;
    }

    &__text {
        display: block;
        padding-top: 5%;
        text-align: center;
        text-transform: uppercase;
        padding-bottom: 7%;
        font-family: $font-serif;
        color: #{$grey};
        font-size: 1.67rem;
        letter-spacing: 0.1rem;
    }

    &__photo {
        padding-top: 15%;
    }

    @media #{(min-width: 0px) and(max-width: 640px)} {
        &__box {
            padding-top: 10px;
        }

        &__date1939 {
            padding-top: 5px;
        }
    }
}
