include ../h2/h2
include ../building-part/building-part

mixin b_building(data)
  +b("section").building.row.expanded&attributes(attributes)(id='#{menu.links[3]}')
    +e.diagonal
    +b_h2(data.year).__year.small-3.small-centered
    +e.title.small-9.small-centered #{data.title}
    +b_paragraph(data.text).small-5.small-centered.paragraph_text_center
    +e.map
      +e("img").map-image(src="/img/buildmap.jpg")
      +b_h2(data.caption)._color_white.__caption
      +b.bus
        +e.line(id="lineLeft")
        +e.line(id="lineRight")
      +e.info
        each item, key in data.parts
          +b_building-part(item, key)
