.life {
    margin-top: 4rem;

    &__livedates {
        text-align: center;
        width: 100%;
        padding-left: auto;
        padding-right: auto;
        font-size: 10rem;
        font-family: $font-sans-serif;
        color: #{$yellow};
        padding-top: 6rem;

    }

    &__centeredtext1 {
        text-align: center;
        width: 100%;
        padding-left: auto;
        padding-right: auto;
        font-size: 1.8rem;
        font-family: $font-serif;
        padding-top: 10%;
        text-transform: uppercase;
        color: #{$grey};
    }

    &__centeredtext2 {
        text-align: center;
        width: 100%;
        padding-left: auto;
        padding-right: auto;
        font-family: $font-sans-serif;
        padding-top: 5%;
        text-transform: uppercase;
        color: #{$yellow};
        font-size: 3.1rem;
        letter-spacing: 0.17rem;
    }

    &__centeredtext3 {
        max-width: 25rem;
        margin: 0 auto;
        font-family: $font-serif;
        padding-top: 5%;
    }

}

