.life {
    &__livedates {
        text-align: center;
        width: 100%;
        padding-left: auto;
        padding-right: auto;
        font-size: 10em;
        font-family: $font-sans-serif;
        color: #{$yellow};
        padding-top: 10%;

    }

    &__centeredtext1 {
        text-align: center;
        width: 100%;
        padding-left: auto;
        padding-right: auto;
        font-size: 1.8em;
        font-family: $font-serif;
        padding-top: 10%;
        text-transform: uppercase;
        color: #{$grey};
    }

    &__centeredtext2 {
        text-align: center;
        width: 100%;
        padding-left: auto;
        padding-right: auto;
        font-family: $font-sans-serif;
        padding-top: 5%;
        text-transform: uppercase;
        color: #{$yellow};
        font-size: 3.1em;
        letter-spacing: 0.17em;
    }

    &__centeredtext3 {
        width: 29%;
        margin: 0 auto;
        font-family: $font-serif;
        padding-top: 5%;
    }

}
