mixin b_life
  +b.life
    +e.IMG.img1(src="img/life__photo.png")
    +e.textarea
      +b.livedates
        +e.SPAN.date 97
        +e.SPAN.dateup 8-
        +e.SPAN.dateup._size_115px 10
        +e.SPAN.date 54
      +b.centeredtext_paddingtop_10perc._uppercase._color_999999._font_opensans історія про час, про місце, про людей
      +b.centeredtext_paddingtop_5perc._color_cc9933._uppercase._size_38px._letterspacing_2 історія про ярослава мудрого
      +b.centeredtext_paddingtop_5perc._color_999999._font_opensans
        | Історія мудрого князя, який умів
        br
        | "зазирати за горизонт", ставити
        br
        | і розв'язувати доленосні задання,
        br
        | масштаби й часові межі, яких
        br
        | виходять далеко за межі
        br
        | його життя.


