include ../person/person
include ../couple/couple

mixin family_iterator(data)
	ul
		each item in data
			li 
				if item.person
					+b_person(item.person)
				if item.couple
					+b_couple(item.couple)
				if item.children
					+family_iterator(item.children)

mixin b_family-tree(data)
	+b.family-tree&attributes(attributes)
		+family_iterator(family)
