.centeredtext {
    text-align: center;
    width: 100%;
    padding-left: auto;
    padding-right: auto;
    font-size: 22px;
    font-family: #{$font1}, #{$font1attr};

    &_font_opensans {
        font-family: #{$font2}, #{$font2attr};
    }

    &_uppercase {
        text-transform: uppercase;
    }

    &_color_cc9933 {
        color: #{$color1};
    }

    &_color_999999 {
        color: #{$color2};
    }

    &_size_38px {
        font-size: 38px;
    }

    &_paddingtop_5perc {
        padding-top: 5%;
    }

    &_paddingtop_10perc {
        padding-top: 10%;
    }

    &_letterspacing_2 {
        letter-spacing: 5px;
    }


    @media #{$tablet} {
        & {
            font-size: 18px;
        }

        &_size_38px {
            font-size: 28px;
        }
    }


    @media #{$mobile} {
        & {
            font-size: 12px;
        }

        &_size_38px {
            font-size: 10px;
        }

        &_paddingtop_10perc {
            padding-top: 5%;
        }

        &_paddingtop_5perc {
            padding-top: 2%;
        }
    }

}

