meta(charset="utf-8")
title= title || footer.author
meta(http-equiv="X-UA-Compatible" content="IE=Edge")
meta(name="viewport" content="width=device-width, initial-scale=1, user-scalable=no")
meta(name="theme-color" content="#fff")
meta(name="format-detection" content="telephone=no")
link(rel="icon" href="/img/logo-32x32.png" sizes="32x32")
link(rel="icon" href="/img/logo-192x192.png" sizes="192x192")
link(rel="apple-touch-icon-precomposed" href="/img/logo-180x180.png")
meta(name="msapplication-TileImage" content="/img/logo-270x270.png")
