include ../../../node_modules/bemto.jade/bemto.jade
include ../../blocks/header/header
include ../../blocks/life/life
include ../../blocks/footer/footer
include ../../blocks/life10and30years/life10and30years
include ../../blocks/money/money
include ../../blocks/gameofthrones/gameofthrones
include ../../blocks/sarkofag/sarkofag
include ../../blocks/timestamp/timestamp
