include ../../../node_modules/bemto.jade/bemto.jade
include ../../blocks/header/header
include ../../blocks/life/life
include ../../blocks/footer/footer
include ../../blocks/life-10-and-30-years/life-10-and-30-years
include ../../blocks/money/money
include ../../blocks/game-of-thrones/game-of-thrones
include ../../blocks/sarkofag/sarkofag
include ../../blocks/great-win/great-win
include ../../blocks/first-lib/first-lib
