include ../../../node_modules/bemto.jade/bemto.jade
include ../../blocks/backtop/backtop
include ../../blocks/header/header
include ../../blocks/life/life
include ../../blocks/footer/footer
include ../../blocks/life-10-and-30-years/life-10-and-30-years
include ../../blocks/money/money
include ../../blocks/games-of-thrones/games-of-thrones
include ../../blocks/timeline/timeline
include ../../blocks/building/building
include ../../blocks/sarkofag/sarkofag
include ../../blocks/great-win/great-win
include ../../blocks/first-lib/first-lib
include ../../blocks/sarkofag-view/sarkofag-view
include ../../blocks/section-appearance/section-appearance
include ../../blocks/about-governing/about-governing
include ../../blocks/section-map/section-map
include ../../blocks/section-family/section-family
include ../../blocks/rus-pravda/rus-pravda
