include _mixins
include _include

doctype html
html
  head
    include _head

  body(class=bodyClass)
    //BEGIN out
    +header

    block content

    +footer(footer)

    //LOAD SCRIPTS
    block scripts
      script(type="text/javascript" src="js/app.js")
