include _mixins
include _include

doctype html
html
  head
    include _head

  body(class=bodyClass)
    //BEGIN out
    +b_header(header)

    block content

    .row.expanded
        .columns.large-offset-2.large-8.smal-12.end
            +footer(footer)
    +b_backtop()

    //LOAD SCRIPTS
    block scripts
        link(rel="stylesheet" media="all" href="css/app.css")
        script(type="text/javascript" src="js/app.js")

