.section3 {
    position: absolute;
    width: 100%;
    height: 0px;
    padding-bottom:66%;
    border: 3px solid #c02a29;
}

.section3__img1 {
    width: 35%;
    float: left;
}

.section3__years {
    width: 65%;
    float: left;
    height: 100%;
}

.section3__spanyear{
    float: left;
    margin-left: 20%;
    margin-top: 20%;
    font-size: 100px;
}

.section3__spantext1{
    float: left;
    margin-left: 20%;
    margin-top: 5%;
    font-size: 30px;
}




