.section3 {
    position: absolute;
    width: 100%;
    height: 0px;
    padding-bottom:66%;
    /*border: 3px solid #c02a29;*/
}

.section3__img1 {
    width: 35%;
    float: left;
}

.section3__textarea {
    width: 65%;
    float: left;
    height: 100%;
}

