.section3 {
    position: absolute;
    width: 100%;
    height: 500px;
    border: 3px solid #8AC007;
}

.section3__text {
    border: 3px solid #c00e0c;
}

.section3__link {
    font-weight: bold;
}

.section3__link {
    font-weight: bold;
}

.test {
    color: #fff;

    .test2 {
        color: #fff;

        .test3 {
            color: #fff;

            .test4 {
                color: #ff2827;

                .test5 {
                    color: #fff;
                }
            }
        }
    }
}

.test {
    color: #000;
}
