mixin link
  +b.section3
    +e.IMG.img1(src="img/section3__img1.png")
    +e.textarea
      +b.H1.uppertext_paddingtop_20perc._color_cc9933 978 - 1054
      +b.H3.uppertext_paddingtop_10perc історія про час, про місце, про людей
      +b.H2.uppertext_paddingtop_5perc._color_cc9933 історія про ярослава мудрого
      +b.H3.centeredtext_paddingtop_5perc
        | Історія мудрого князя, який умів
        br
        | "зазирати за горизонт", ставити
        br
        | і розв'язувати доленосні задання,
        br
        | масштаби й часові межі, яких
        br
        | виходять далеко за межі
        br
        | його життя.

