.help-info {
    @include coverdiv;
    top: -100%;
    margin: 0px auto;
    z-index: 15;
    transition: all .5s ease 0s;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;

    .close {
        height: 50px;
        right: 30%;
        top: 50px;
        width: 50px;
        box-sizing: content-box;
        padding-bottom: 25px;
    }

    .paragraph {
        font-size: .75rem;
    }

}

.info-block {
    width: 500px;
    height: 500px;
    position: relative;

    &__circle {
        border-width: 3px;
        border-color: rgb(223, 184, 63);
        border-style: dotted;
        border-radius: 50%;
        background-color: rgb(245, 244, 244);
        text-align: center;
        position: relative;
        width: 100%;
        height: 100%;
        padding: 80px;
    }
}
