include ../close/close

mixin b_help-info(data)
  +b.SECTION.help-info
    +b.info-block&attributes(attributes)
      +e.circle
        //+b.borders
        //  +e.border-top
        //  +e.border-left
        //  +e.border-right
        //  +e.border-bottom
        +b_paragraph(data)._type_yellow._text_center
    +b_close()
