.comparemoney {

    &__text1 {
        font-size: 38px;
        font-family: Playfair Display,serif;
    }

    &__text2 {
        padding-top: 30px;
        font-size: 14px;
        text-transform: uppercase;
        text-align: center;
        font-family: Playfair Display,serif;
        font-style: regular;
    }

    &_float_left {
        float: left;
        clear: left;
        padding-left: 30%;
        padding-top: 15%;
    }

    &_float_right {
        float: right;
        clear: right;
        padding-right: 30%;
        padding-top: 15%;

    }

}
