mixin b_reconstruction(data)
	+b.reconstruction&attributes(attributes)
		+e.line.is-left
		+e.line.is-right
		+e.bg
		+e("img").profile(src="/img/rec-prof.png")
		+e("img").fass(src="/img/rec-fas.png")
