mixin b_person(data)
	+b.person&attributes(attributes)(class=typeof data.isKing ==="undefined" ? "" : "_is_king" )
		+e.img-and-king
			if data.isKing
				+e.king
			+e.img-container
				+e.img-overflow
					case data.img
						when ""
							+e("img").img(src="/img/per-bg.jpg")
						default
							+e("img").img(src="#{data.img}")
		+e.name #{data.name}
		case data.year
			when ""
			default
				each year in data.years
					+e.year #{year}
