mixin b_person(data)
	+b.person&attributes(attributes)
		case data.img
			when ""
				+e.img-container
					+e("img").img(src="/img/per-bg.jpg")
			default
				+e.img-container
					+e("img").img(src="#{data.img}")
		+e.name #{data.name}
		case data.year
			when ""
			default
				each year in data.years
					+e.year #{year}
		
