$per-yaer-color: #4f4f4f;
$per-border-width: 2px;

.person {
	text-align: center;
	font-family: $font-serif;
	max-width: 8vw;
	margin: 0 auto;

	&__img-container {
		position: relative;
		width: 100%;
		border-color: $yellow;
		border-width: $per-border-width;
		border-style: solid;
		border-radius: 50%;
		overflow: hidden;
		z-index: 4;

		&:after {
		   content: "";
		   display: block;
		   padding-bottom: 100%;
		}
	}

	&__img {
		position: absolute;
		width: 100%;
		top: 0px;
		left: 0px;
		z-index: 1;
	}

	&__name {
		color: white;
		font-size: 1vw;
		margin: 1.25vw auto 0.7786vw;
	}

	&__year {
		color: $per-yaer-color;
		font-size: 0.7786vw;
	}

	&__king {
		position: absolute;
		top: 0.3vw;
		left: 50%;
		margin-left: -0.9vw;
		width: 1.8vw;
		height: 1.5vw;
		background: $black;
		background-image: url('../img/korona.svg');
		background-position: center;
		background-repeat: no-repeat;
		background-size: contain;
		z-index: 2;
	}
}
