include ../paragraph/paragraph

mixin b_time_stamp(data)
  + b.time-stamp&attributes(attributes)
    + e.date #{data[0]}
    + e.text
      +b_paragraph(data[1])._text_left
    + e("img").info(src="img/time-stamp__info.png")
