.navigation {
    height: 100vh;
    position: absolute;
    top: 0%;
    left: -101%;
    margin: 0px !important;
    padding: 0px !important;
    overflow: hidden;
    transition: all .5s linear 0s;

    &__block {
        height: 100%;
        position: relative;

        &:nth-child(1) {
            background-color: #ffffff;
            left: -20%;
        }

        &:nth-child(2) {
            background-color: #000;
            padding: 0px;
            opacity: .3;
            right: -20%;
        }

        &_diagonal_white {

            &:after {
                content: '';
                position: absolute;
                top: 0px;
                left: 100%;
                width: 0px;
                height: 0px;
                border-style: solid;
                border-width: 100vh 0vh 0vh 0vh;
                border-color: #ffffff transparent transparent transparent;
                z-index: 1;
                transition: all 1s linear;
                //opacity: .9;
            }
        }

        //&_background_black#{&}_diagonal:before {
        //    border-color: transparent transparent black transparent;
        //}
    }

    .navigation-list {
        position: relative;
        top: 25%;
        left: 15%;
        width: 80%;
        z-index: 2;
    }

    &_position_fixed{
        position: fixed;
        margin: -50px 0px;
    }
}

.navigation.is-active {
    left: 0%;
}

.navigation-list {
    background-color: #ffffff;
    padding: 20px;
    font-family: $font-sans-serif;

    &__item {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: baseline;
        align-content: center;
        margin: 10px 0px;
        color: rgb(51, 51, 51);
        //position: relative;
        //left: -100%;

        &_type_active {
            color: $menu-color-yellow;
        }
    }

    &__value {
        text-transform: uppercase;
        font-size: 1.375rem;
        font-weight: 300;
        flex-grow: .1;

        &:hover {
            color: $menu-color-yellow;
            font-weight: 500;
            cursor: pointer;
        }

    }

    &__dots {
        border-width: 0px 0px 1px 0px;
        //border-color: rgb(149, 149, 149);
        border-color: inherit;
        border-style: dotted;
        flex-grow: 3;
    }

    &__number {
        font-size: 1.25rem;
        color: inherit;
    }

}


//.nav-preview {
//    position: relative;
//    height: 100vh;
//    background-color: #ffffff;
//    background-size: cover;
//    opacity: .25;
//}
