.great-win {

    &__text{
        text-align: center;
    }

    &__main {
        background-color: #dfb83f;
        padding-top: 12%;
        padding-bottom: 17%;

    }

    &__toptext {
        text-transform: uppercase;
        font-weight: bold;
        font-family: $font-sans-serif;
        font-size: 3.5em;
        letter-spacing: 0.13em;
        width: 80%;
        margin: 0 auto;
    }

    &__middletext {
        padding-top: 11%;
        font-family: $font-serif;
        margin: 0 auto;
        width: 58%;
    }

    &__bottomtext {
        padding-top: 35%;
        margin: 0 auto;
        width: 58%;
    }

    &__bottomtext1 {
        text-transform: uppercase;
        font-weight: bold;
        font-family: $font-sans-serif;
        font-size: 1.7em;
        padding-top: 2%;
        letter-spacing: 0.1em;

    }

    &__bottomtext2 {
        text-transform: uppercase;
        font-family: $font-serif;
        font-size: 0.9em;
        letter-spacing: 0.1em;
        padding-top: 5%;
    }


    &__pict {
        padding-top: 2.4%;
    }

    @media #{(min-width: 1400px) and (max-width: 1620px)}{
        &__toptext {
            font-size: 39px;
            letter-spacing: 3px;
        }

        &__bottomtext {
            padding-top: 21%;
        }
    }

    @media #{(min-width: 1024px) and (max-width: 1399px)}{
        &__main {
            padding-top: 4%;
        }

        &__toptext {
            font-size: 22px;
        }

        &__middletext {
            font-size: 15px;
            padding-top: 11%;
        }

        &__bottomtext {
            padding-top: 15%;
        }

        &__bottomtext1 {
            letter-spacing: 1px;
            font-size: 15px;
        }
    }

    @media #{(max-width: 1023px)} {
        &__toptext {
            font-size: 35px;
            letter-spacing: 4px;
        }

        &__middletext {
           padding-top: 9%;
           font-size: 18px;
        }

        &__bottomtext {
            padding-top: 6%;
        }

        &__bottomtext1 {
            font-size: 18px;
            letter-spacing: 2px;
        }


    }


}
