.gameofthrones {
    text-align: center;
    font-family: $font-serif;

    &__mainname {
        font-size: 48px;
        font-family: $font-sans-serif;
        margin-top: 190px;
    }

    &__shortnote {
        text-transform: uppercase;
        color: $grey;
        margin-top: 35px;
        font-size: 19px;
        letter-spacing: 2px;
    }

    &__details {
        font-size: 18px;
        margin-top: 35px;
        margin-bottom: 70px;
    }
}
