mixin b_gameofthrones
  +b.gameofthrones
    +e.mainname
      | Ігри Київського престолу
    +e.shortnote
      | Починається кривава міжусобна боротьба
      br
      | за Київський престол
    +e.details
      | Київ захоплює племінник Володимира, всиновлений ним, Святополк
      br
      | (прозванний Окаянним), вбиває синів померлого володаря — Бориса і Гліба,
      br
      | перших святих нашої Православної Церкви й проголошує себе Великим
      br
      | Князем Київським. Ярослав, рідний син Володимира, приймає виклик.
      br
      | Він прагне відновити законність у Києві та помститися
      br
      | за невинно убієнних братів, збирає військо з новгородців
      br
      | та варягів та йде до столиці на Дніпрі.

