.header {
    background-image: url('/img/header-bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    opacity: .8;
    position: relative;

    .caption {
        padding: 20px;

        &__big {
            margin-bottom: 50px;
        }
    }
}

.nav-menu {
    padding: 20px;
    color: #ffffff;
    position: relative;

    &__button {
        border-style: solid;
        border-width: 1px;
        border-color: rgb(255, 255, 255);
        background-color: rgb(0, 0, 0);
        opacity: 0.7;
        width: 108px;
        height: 32px;
        margin-right: 20px;
        color: #ffffff;

        &:hover {
            font-weight: 600;
            opacity: .9;
        }
    }

}

.over {
    background: #ffffff;
    opacity: .7;
    position: absolute;
    height: 100%;
    top: 0px;
    text-align: center;
    line-height: 1.333;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.caption {

    font-family: "Myriad Pro";
    color: rgb(51, 51, 51);

    &__big {
        font-size: 36px;
    }

    &__middle {
        font-size: 18px;
        line-height: 1.667;
    }

    //&__litle {
    //
    //}
}
