include ../preview/preview
include ../menu/menu

mixin b_header(data)
  +b_preview(preview)
  +b("header").header.small-12
    +b.NAV.nav-menu.row
      +b.columns.small-4
      +e.BUTTON.button='='
      +e.BUTTON.button #{data.share}
    +b.over.small-5.small-offset-6.end
      +b.caption
        +e.big!= data.big
        +e.middle!= data.middle
    //+b_menu
