.header {
    background-image: url('/img/header-bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    opacity: .8;
    position: relative;

    .caption {
        padding: 20px;

        &__big {
            margin-bottom: 50px;
        }
    }
}

.over {
    background: #ffffff;
    opacity: 0;
    position: absolute;
    //height: 100%;
    top: 0px;
    text-align: center;
    line-height: 1.333;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.caption {

    font-family: "Myriad Pro";
    color: rgb(51, 51, 51);

    &__big {
        font-size: 2.25rem;
    }

    &__middle {
        font-size: 1.125rem;
        line-height: 1.667;
    }

    //&__litle {
    //
    //}
}
